# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build output
.next/
out/
build/
dist/

# turbo
.turbo

# testing
coverage

# misc
.DS_Store
*.pem

# debug
*-debug.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# material de origen y documentación clínica
docs/
sources/
